*{
  margin: 0;
}

body{
  background-color: #f5f6fa;
}

.app{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__left{
  flex: 0.85  ;
}

.app__header{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content : space-between;
  font-size: 2rem;
  color: #fc3c3c;
}

h3 {
  color: #000000;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h2 {
  color: #be4444;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-size: 35px;
}

.app__stats{
  display: flex;
  justify-content: space-between;
}

.app__right{
  display: flex;
  flex-direction: column;
}

.app__right h3{
  color: #fb4443;
}

.app__right .MuiCardContent-root{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__graph{
  flex-grow: 1;
}

.graph {
  margin-top: 70px;
}

.graph_title{
  margin-top: 30px;
}

@media (max-width: 1150px){
  .app{
    flex-direction: column;
  }
}

iframe
{
    display: none;
}
